
.navbar-brand > img {
  margin-left: 0;
}

/* Variables */
:root{
  --clr-primaryred-200: #FC5860;
  --clr-primaryred-400: #FC000D;
  --clr-primaryred-600: #D8000B;

  --clr-neutral-100: white;
  --clr-neutral-900: #222C2A;
}

/* Reset */
body, p, a, ul, li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li{
  list-style-type: none;
}

/* Base styles */
body{
  background: var(--clr-neutral-100);
  overflow-x: hidden;
}
.button{
  background: none;
  border: 2px solid var(--clr-primaryred-600);
  color: var(--clr-neutral-100);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
.button:hover{
  color: #222C2A;
  background: var(--clr-primaryred-200);
}
#header{
  background: var(--clr-primaryred-600);
  color: white;
}
input, textarea{
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--clr-primaryred-200);
}
h1, h2, h3, h4{
  font-family: 'Poppins', SansSerif !important;
}
/*h1, h3{*/
/*  font-size: 1.15em;*/
/*}*/
/*h2{*/
/*  font-size: 1.3em;*/
/*}*/
/*h4{*/
/*  font-size: 1.12em;*/
/*}*/
.leading{
  font-size: 1.1em;
}
/*#see-more{*/
/*  border: 0.5px solid white;*/
/*  max-width: 15vw;*/
/*}*/

/* Mobile styles */
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
#header{
  padding: 20px 20px 20px 20px;
  line-height: 1.4;
}
#header h2{
  line-height: 1.7;
}
.welcome-text{
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
  padding-right: 15px;
}
.welcome-text a{
  margin: 20px 0;
}
.header-img{
  grid-column: 7/9;
  display: flex;
  align-items: center;
}
.header-img img{
  max-width: 200%;
}
#showcase h3{
  font-weight: 500 !important;
  font-size: 1.3em !important;
  margin-top: 7vh;
  margin-bottom: 0;
  text-align: center;
}
.products a{
  color: black;
  background: repeating-linear-gradient(180deg, cornsilk, transparent 100%);
  grid-column: 1/9;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.products a *{
  margin: 0 20px;
  max-width: 40%;
  align-self: center;
  text-align: center;
}
.device-details{
  padding: 30px 20px;
  background: var(--clr-primaryred-400);
  color: white;
}
.device-details h3 {
  text-align: center;
}
.device-details li{
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  grid-column: span 4;
}
#contact{
  background: var(--clr-primaryred-400);
  color: white;
  padding: 30px 20px;
}
#contact h3, #contact p{
  text-align: center;
  margin-bottom: 0;
}
#contact form{
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
::placeholder{
  color: lightgrey;
}
input:focus, textarea:focus{
  outline: 2px solid white;     /* oranges! yey */
}
#contact input, #contact textarea{
  width: 100%;
  color: white;
  margin: 10px 0;
}
footer{
  padding: 30px 20px;
  background-color: white;
}
@media screen and (max-width: 960px) {
  nav ul li:last-child{
    margin-bottom: 1.5vh;
  }
}

/* Small tablet styles */
@media screen and (min-width: 620px) {
  .welcome-text{
    grid-column: 1/6;
  }
  .header-img{
    grid-column: 6/9;
  }
  .header-img img{
    max-width: 100%;
  }
  .products{
    margin-top: 40px;
    background: repeating-linear-gradient(180deg, cornsilk, transparent 100%);
  }
  .products a{
    grid-column: span 4;
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    background: none;
  }
  .products a:last-child{
    grid-column: 3/7;
    margin-top: 0;
  }
  .products a *{
    margin: 10px 20%;
    max-width: 60%;
  }
  .products h4{
    text-align: center;
  }
}

/* Large tablet and laptop styles */
@media screen and (min-width: 960px) {
  /*body{*/
  /*  font-size: 18px;*/
  /*}*/
  .grid{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
  }
  .primary-600-red{
    background: var(--clr-primaryred-600);
  }
  .red-gradient{
    background: repeating-linear-gradient(180deg, cornsilk, transparent 100%);
  }
  .leading{
    margin: 20px 0;
  }
  .header-img{
    padding: 3.5vh 0;
  }
  #showcase{
    padding-bottom: 7vh;
  }
  #showcase h3{
    margin-top: 0;
    padding-top: 7vh;
  }
  .products a *{
    max-width: 80%;
    margin: 10px 10%;
  }
  .products a:nth-child(1){
    grid-column: 2/4;
  }
  .products a:nth-child(2){
    grid-column: 4/6;
    padding-top: 140px;
  }
  .products a:nth-child(3){
    grid-column: 6/8;
    margin-top: 10px;
  }
  #contact form{
    max-width: 650px;
  }
}

/*!* Desktop styles *!*/
/*@media screen and (min-width: 1200px) {*/
/*  !*body{*!*/
/*  !*  font-size: 20px;*!*/
/*  !*}*!*/
/*  #header, #showcase, .device-details, #contact, footer{*/
/*    padding: 90px 0;*/
/*  }*/
/*  .products a:nth-child(1){*/
/*    grid-column: 1/3;*/
/*  }*/
/*  .products a:nth-child(2){*/
/*    grid-column: 4/6;*/
/*  }*/
/*  .products a:nth-child(3) {*/
/*    grid-column: 7/9;*/
/*    margin-top: 10px;*/
/*  }*/
/*  .products a *{*/
/*    max-width: 100%;*/
/*    margin: 30px 0;*/
/*  }*/
/*  .products{*/
/*    background: none;*/
/*  }*/
/*  #showcase h3{*/
/*    font-size: 2em !important;*/
/*    padding-bottom: 5vh;*/
/*  }*/
/*}*/
