
.carousel {
    width:640px;
    height:360px;
}

.header, .header .motto{
    text-align: left;
}

.header .motto{
    padding-top: 10%;
}

.header-image{
    background-image: url(../../assets/media/etienne-boulanger-mDOao83l1iU-unsplash.jpg) !important;
    background-color: black;
}

.motto{
    float: left;
    margin-left: 5%;
    max-width:50vw;
    max-height: 50vh;
}

.header .motto > h2{
    font-size: 4vh;
    font-weight: 400 !important;
    margin-bottom: 5%;
}

.header .motto > h5{
    font-size: 2.3vh;
}

#signage-section{
    text-align: center;
    padding-top: 15vh;
    background-color: whitesmoke;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15vh;
            /*#efefef;*/
}

#signage-section > h1 {
    padding-bottom: 10vh;
}

#signage-section > div > .row  *{
    color: white;
}

#signage-section > .container-fluid{
    display: flex;
    justify-content: center;
}

.row > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 31vw;
    min-height: 50vh;
    border-radius: 3px;
}

#firstCol{
    margin-right: 1vw;
}

#thirdCol{
    margin-left: 1vw;
}

.row > div > img{
    margin-bottom: 20px;
}
.row > div > h4{
    margin-bottom: 25px;
}

#slideshow-section{
    background: #FF0D00; ;
}

#slideshow-section > * {
    color: white;
}

@media (max-width: 992px) {
    .header .motto{
        padding-top: 4%;
    }
    .header .motto > h2{
        font-size: 1.5rem;
    }
    .header .motto > h5{
        font-size: 1.15rem;
    }
    #productCarrousel{
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .header, .header .motto{
        text-align: center;
        float: none;
    }
    .motto{
        padding: 8% 5%;
        margin-top: 10%;
        max-width: none;
        max-height: none;
        margin-left: auto;
        background: repeating-linear-gradient(360deg, black, transparent 900px);
    }
    .header .motto h2, .header .motto h5{
        color: white;
    }
    #signage-section{
        height: auto;
        padding-top: 4vh;
    }
    .row > div{
        width: 100vw;
        margin-bottom: 5vh;
    }
    #thirdCol{
        margin-bottom: 0;
    }
    #firstCol, #secondCol, #thirdCol{
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    #productCarrousel{
        width: 95vw;
    }
}
