#showcase-section{
    text-align: center;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 5%;
}

#showcase-section > h3 {
    font-weight: 500;
}

#showcase-section > .container{
    width: 95%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.showcase-row {
    display: flex;
    justify-content: space-between;
    background-color: white;
    /*rgb(255,234,230);*/
    /*rgba(255, 170, 170, 0.25);*/
    border-radius: 10px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.showcase-row > div > a{
    text-decoration: none;
}

.showcase-row > div > a > h4, .showcase-row > div > a > img, .showcase-row > div > a > p{
    margin-bottom: 10%;
    color: black;
}

.showcase-row > div {
    transition: all 1s;
}
.showcase-row > div:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.showcase-container{
    text-align: center;
    margin-top: 3%;
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .showcase-row > div {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .showcase-row > div:hover{
        transform: none;
    }
    #showcase-section > h3{
        margin-top: 10% !important;
        margin-bottom: 15%;
    }
}
