.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f00'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f00'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel {
    width:640px;
    height:360px;
}

.header, .header .motto{
    text-align: left;
}

.header .motto{
    padding-top: 10%;
}

.header-image{
    background-image: url(../../assets/media/etienne-boulanger-mDOao83l1iU-unsplash.jpg) !important;
    background-color: black;
}

.motto{
    float: left;
    margin-left: 5%;
    max-width:50vw;
    max-height: 50vh;
}

.header .motto > h2{
    font-weight: 400 !important;
    margin-bottom: 5%;
}

@media (max-width: 992px) {
    .header .motto{
        padding-top: 4%;
    }
    .header .motto > h2{
        font-size: 1.5rem;
    }
    .header .motto > h5{
        font-size: 1.15rem;
    }
}

@media (max-width: 768px) {
    .header, .header .motto{
        text-align: center;
        float: none;
    }
    .motto{
        padding: 8% 5%;
        margin-top: 10%;
        max-width: none;
        max-height: none;
        margin-left: auto;
        background: repeating-linear-gradient(360deg, black, transparent 900px);
    }
    .header .motto h2, .header .motto h5{
        color: white;
    }
}
