
.row {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.row:first-child > *{
    color: black !important;
}

.row > p{
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: 300;
}

.row + .row{
    margin-top: 5%;
    background: #FF0D00;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column
}

.row + .row > h1{
    margin-top: 10%;
}

.row + .row > *{
    color: white !important;
}

*{
    color: white !important;
}

.dropdown-menu > a {
    color: black !important;
}

.header-overlay {
    height: 100vh;
    width: 100%;
    background: repeating-linear-gradient(360deg, black, transparent 100vh);
}

.header-image{
    background-image: url(../../assets/media/queuelongwhite.jpg) !important;
    background-color: black;
}

.header .motto{
    margin-left: 20%;
    margin-right: 20%;
}

.header .motto{
    top: -webkit-calc(100% + 25vh);
    top: -moz-calc(100% + 25vh);
    top: calc(100% + 25vh);
}

@media (max-width: 992px) {
    .header .motto{
        margin-left: 5%;
        margin-right: 5%;
        top: -webkit-calc(100% + 12vh);
        top: -moz-calc(100% + 12vh);
        top: calc(100% + 12vh);
    }
    .row:first-child > h1{
        padding-top: 12% !important;
    }
    .row:first-child > p{
        font-size: 1.25em;
    }
    .row:first-child{
        min-height: 70vh;
        padding-left: 3%;
        padding-right: 3%;
    }
    .row:first-child > h1{
        font-weight: 500 !important;
    }
    .row + .row{
        padding: 0;
    }
    #tallQImage{
        width: 70% !important;
    }
    .row + .row > h1{
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media (max-width: 768px) {
    #tallQImage{
        width: 80% !important;
    }
    .row:first-child > p{
        font-size: 1.15em;
    }
}


