
.carousel{
    margin-bottom: 5vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

#productCarrousel{
    width: 80%;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.row + .row{*/
/*    margin-top: 5%;*/
/*    background: #FF0D00;*/
/*}*/

#productCarrousel > *{
    color: white !important;
}

#slideshow-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black !important;
    padding-top: 5%;
    background: white;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.carousel-inner, .carousel-item{
    height: 100%;
    /*background: whitesmoke;*/
    /*border-radius: 20px;*/
}

.carousel-inner{
    min-height: 50vh;
    display: flex;
    align-items: center;
    height: auto;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 0;
}

.vertical-align{
    display: flex;
}

.carousel-item > img,
.carousel-item > a > img {
    width: 40%;
    margin: auto;
    cursor: pointer;
}

.lightbox__close{
    z-index: 1000;
}

@media (max-width: 992px) {
    .row + .row{
        padding: 0;
    }
    .carousel{
        height: auto;
        min-height: 50vh;
        margin-bottom: 5vh;
    }
    .sr-only, .sr-only{
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel-control-next > span {
        margin-left: 3vw;
    }
    .carousel-control-prev > span {
        margin-right: 3vw;
    }
    .carousel-inner > .carousel-item > img,
    .carousel-inner > .carousel-item > a > img {
        width: 80%;
        margin: auto;
    }
    .carousel{
        height: auto;
        min-height: 30vh;
    }
}
