html, body {
    max-width: 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

body{
    /*min-height: 100vh;*/
}

.header{
    background-color: ghostwhite;
    max-height: none;
}

.header-image{
    background-image: none !important;
}

nav{
    background-color: white;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
}

.top-half{
    padding-top: 5vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*min-height: 40vh;*/
    /*max-height: 50vh;*/
    background-color: whitesmoke;
}
.bottom-half{
    position: absolute;
    bottom: 0.1%;
    left: 0;
    right:0;
    height: auto;
    max-height: 50vh;
    /*background-image: url("../assets/media/Page-1-Image-1.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: auto 100%;*/
    background-color: #e92323;
}

.bottom-half > img{
    max-height: 50vh;
}

/*@media (max-width: 1150px){*/
/*    .bottom-half > img{*/
/*        width: 100%;*/
/*    }*/
/*}*/

@media (max-width: 768px) and (orientation: portrait){
    body{
        overflow: hidden;
    }
    .header{
        overflow: hidden;
    }
    .top-half{
        padding-top: 10%;
    }
    .top-half > h4{
        font-size: 2.15vh !important;
    }
}

/* Tablets and phones in landscape */
@media (max-width: 1200px) and (orientation: landscape){
    body{
        height: fit-content;
    }
    .top-half{
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 0;
    }
    .bottom-half{
      position: relative;
  }
}
